mule-application/src/main/mule/sub-flows/database/db-execute.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="db-readFlow" doc:id="c4319b59-e209-4a7c-89f7-274a89b8351e">
		<logger level="INFO" doc:name="Logger"
			doc:id="cafed53b-1708-4d8d-bb38-2a065a6d4a08"
			message='#[%dw 2.0
output application/java
---
{
	"task": "Database Read",
	"sql": payload.sql,
	"params" : payload.params
}]' />
		<db:select doc:name="Select Query" doc:id="9dadf478-fc19-43bc-99a6-84c2eb97a0f3"
			config-ref="Database_Config">
			<db:sql>#[payload.sql]</db:sql>
			<db:input-parameters><![CDATA[#[payload.params]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="DB Object To Json"
			doc:id="b55ab4c9-fff8-4766-8953-08cc4b3f9e6c">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="sql_result"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate" doc:id="dd12ec1f-e6f1-426e-b93c-0ef12d0f1dbc"
				type="ANY">
				<raise-error doc:name="Raise error"
					doc:id="62b3dcbc-88c7-4265-827d-e3ae56b2a66e" type="CONNECTIVITY:DATABASE"
					description="#[error.detailedDescription]" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="db-insert-Flow" doc:id="f03b0e3b-83fd-4180-8aab-25efd0ae8aaa">
		<logger level="INFO" doc:name="Logger"
			doc:id="4c0eec43-a879-4ad2-b97f-c637b8f7dd4d"
			message='#[%dw 2.0
output application/java
---
{
	"task": "Database Insert",
	"sql": payload.sql,
	"params" : payload.params
}]' />
		<db:insert doc:name="Insert" doc:id="fce010d8-b054-4c18-b466-1bb2844a9458"
			config-ref="Database_Config" autoGenerateKeys="true"
			autoGeneratedKeysColumnNames="#[['identification_id']]">
			<db:sql>#[payload.sql]</db:sql>
			<db:input-parameters><![CDATA[#[payload.params]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="return key"
			doc:id="30b5d34d-7eb7-42d8-9264-25b6c3da66bc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	inserted_key : payload.generatedKeys[0]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate" doc:id="104d0646-a424-48b7-8028-2ea0f7bde468"
				type="ANY">
				<raise-error doc:name="Raise error"
					doc:id="12884fb5-9667-4dbd-a9c0-72ed77e1bdf2" type="CONNECTIVITY:DATABASE"
					description="#[error.detailedDescription]" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="db-insert-bulk-Flow" doc:id="4536e164-bf0f-4d91-bb59-ffeddadb45e7">
		<logger level="INFO" doc:name="Logger"
			doc:id="2e0fcc41-463e-444e-9d4e-606ff2bf095f"
			message='#[%dw 2.0
output application/java
---
{
	"task": "Database Bulk Insert",
	"sql": payload.sql,
	"params" : payload.params
}]' />
		<db:bulk-insert doc:name="Bulk insert"
			doc:id="2c56a271-650c-458c-8e97-927b7825343b" config-ref="Database_Config">
			<db:bulk-input-parameters><![CDATA[#[payload.params]]]></db:bulk-input-parameters>
			<db:sql>#[payload.sql]</db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="Transform Message"
			doc:id="3e3dad6c-e591-4987-967b-f458716b360c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"inserted_row" : payload.size()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate" doc:id="443288a0-3e20-46fa-9c7d-0017286e79a4"
				type="ANY">
				<raise-error doc:name="Raise error"
					doc:id="176b9a26-a995-4bb8-bd17-e3b4e5f10b5c" type="CONNECTIVITY:DATABASE"
					description="#[error.detailedDescription]" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="db-update" doc:id="57d46fe5-a68f-4093-b4f8-2ad43e036871">
		<db:update doc:name="Update" doc:id="ea3bbe7f-deff-4e2c-9c2a-b5f11c1aa6f7"
			config-ref="Database_Config">
			<db:sql>#[payload.sql]</db:sql>
			<db:input-parameters><![CDATA[#[payload.params]]]></db:input-parameters>
		</db:update>
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate" doc:id="d35bc949-2ca5-46d7-93b0-3ddfb6a34220"
				type="ANY">
				<raise-error doc:name="Raise error"
					doc:id="e1b0d47a-9e24-407d-be55-de43ba86eb60" type="CONNECTIVITY:DATABASE"
					description="#[error.detailedDescription]" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="db-delete" doc:id="004b9a00-5e53-4fbe-9772-7951263e8a57">
		<db:delete doc:name="Delete" doc:id="3168ca34-b145-4e1e-be43-ad15783d38ac"
			config-ref="Database_Config">
			<db:sql>#[payload.sql]</db:sql>
			<db:input-parameters><![CDATA[#[payload.params]]]></db:input-parameters>
		</db:delete>
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate" doc:id="1c19b08c-03ed-41b6-9837-893400a8e390"
				type="ANY">
				<raise-error doc:name="Raise error"
					doc:id="c8988145-0e69-4763-8953-65d32f69a129" type="CONNECTIVITY:DATABASE"
					description="#[error.detailedDescription]" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
